[Unit]
Description=Run backup with Restic daily

[Timer]
OnCalendar={{ restic_backup_source_timer }}
AccuracySec=12h
RandomizedDelaySec={{ restic_backup_source_timer_delay }}
FixedRandomDelay=false
Persistent=true

[Install]
WantedBy=timers.target
