[Unit]
Description=Run backup with Restic daily

[Timer]
OnCalendar={{ restic_backup_source_timer }}
AccuracySec={{ restic_backup_source_timer_accuracy }}
RandomizedDelaySec={{ restic_backup_source_timer_delay }}
Persistent=true

[Install]
WantedBy=timers.target
