[Unit]
Description=Run backup with Restic
After=network.target

[Service]
Type=oneshot
TimeoutSec=5m
Environment='RESTIC_PASSWORD_FILE=/var/lib/misc/restic-service-passwd' 'HOME=/root'
ExecStart=restic -o rclone.program='ssh -l {{ restic_destination_user }} {{ restic_destination }}' -r rclone: backup \
  {{ restic_options }} \
  --exclude-if-present .restic-ignore \
  -H {{ ansible_hostname }} \
  {{ restic_backup }}
